<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>construction_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
				<key>dateExpires</key>
				<string>27/08/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>11.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>11.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>11.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>11.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>11.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>11.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>101.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>0.14.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress_common.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05F48821B85E2E3E7638AB7138FD6BBEDD9CBAE6</string>
						<key>dateExpires</key>
						<string>27/08/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B2KC466M9</string>
						<key>name</key>
						<string>Edwin Siby</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4B2KC466M9.com.rean.msapp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4B2KC466M9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b93f756f-a3f5-4d24-985b-245126739c81</string>
				<key>dateExpires</key>
				<string>27/08/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.rean.msapp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4B2KC466M9</string>
				<key>name</key>
				<string>Edwin Siby</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
